-MMCSD=y
-MMCSD_SDIO=y
-NXFONTS_PACKEDMSFIRST=n
-SCHED_LPWORK=y
+CDCACM=y
+CDCACM_BULKIN_REQLEN=768
+CDCACM_EPBULKIN=4
+CDCACM_EPBULKOUT=5
+CDCACM_EPINTIN=6
+CDCACM_NRDREQS=4
+CDCACM_NWRREQS=4
+CDCACM_RXBUFSIZE=3080
+CDCACM_TXBUFSIZE=769
+CXD56_CISIF=y
+CXD56_I2C2=y
+DRIVERS_VIDEO=y
+DRIVERS_WIRELESS=y
+EXAMPLES_SECURITY_CAMERA=y
+EXAMPLES_SECURITY_CAMERA_WIFI=y
+EXAMPLES_SECURITY_CAMERA_WIFI_USE_DHCP=y
+EXAMPLES_SECURITY_CAMERA_TCP_PORT=8888
+IOB_NBUFFERS=8
+IOB_BUFSIZE=196
+MQ_MAXMSGSIZE=64
+NET=y
+NETDB_DNSCLIENT=y
+NETUTILS_DHCPC=y
+NETUTILS_NETLIB=y
+NET_IPv4=y
+NET_TCP_NO_STACK=y
+NET_USRSOCK=y
+NET_USRSOCK_TCP=y
+NET_USRSOCK_UDP=y
+SPECIFIC_DRIVERS=y
+USBDEV=y
+VIDEO_ISX012=y
+VIDEO_STREAM=y
+CXD56_SPI5=y
+CXD56_DMAC_SPI5_TX=y
+CXD56_DMAC_SPI5_RX=y
+WIRELESS_GS2200M=y
+WIRELESS_WAPI=y
+WL_GS2200M=y
+WL_GS2200M_SPI_FREQUENCY=4000000
